body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: purple;
}

#buttons {
    display: flex;
    gap: 10px;
}

.btn {
    background: darkviolet;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background: mediumvioletred;
}

.stop {
    background: red;
}
